.logo {
    max-width: 20rem; /* Устанавливаем максимальную ширину логотипа */
    height: auto; /* Сохраняем пропорции изображения */
    margin-right: 25rem; /* Добавляем отступ справа от логотипа */
}