
/* styles cap */
.nav-container {
    display: flex; /* Используем Flexbox для размещения элементов в строку */
    align-items:center; /* Выравниваем элементы по вертикали по центру */
}

.nav-list {
    display: flex; /* Устанавливаем flex-контейнер для списка */
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
    margin: 0; /* Убираем внешние отступы */
}

.nav-list li {
    margin-right: 2rem; /* Устанавливаем отступ между элементами списка */
    display: flex; /* Устанавливаем flex для элемента списка, если нужно выравнивание */
    align-items: center; /* Выравниваем элементы списка по центру (если будут вложенные элементы) */
}

/* Дополнительно, если нужно выровнять текст в ссылках */
.nav-list a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: #01811d; /* Цвет текста */
    font-size: 1.4em; /* Размер шрифта */
    display: flex; /* Устанавливаем flex для ссылок, если нужно выравнивание */
    align-items: center; /* Выравниваем текст по центру */
}

.nav-list a:hover {
    color: #36ba01;
}

